//Variables
$bg_dark: #151718;
$bg_dark_2: #121214;
$white: #fff;
$white_op: rgba(255, 255, 255, 0.1);
$purple: #9174E4;
$purple_2: #715AB0;
$purple_3: #6A50FF;

//Font
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

//Navbar
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $bg_dark_2;
}

::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 16px;
}
