@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121214;
}

::-webkit-scrollbar-thumb {
  background: #9174E4;
  border-radius: 16px;
}

@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    -webkit-filter: blur(80px);
            filter: blur(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    -webkit-filter: blur(80px);
            filter: blur(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.nav-container {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  font-size: 18px;
}

.nav-left {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.nav-center {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav-center a {
  text-decoration: none;
}

.nav-center ul {
  line-height: 40px;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav-center ul:hover {
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-right {
  position: absolute;
  right: 0;
}

.nav-right img {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Poppins;
}

body {
  background-color: #121214;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
}

.container-box {
  max-width: 1100px;
  margin: auto;
}

.container-box:first-child {
  height: calc(100vh - 80px);
}

.container-box {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-box h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.container-box span {
  color: #9174E4;
}

.container-box h2 {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

.container-box .home-img {
  position: absolute;
  right: 0;
  image-rendering: optimizeQuality;
}

.container-box .home-img img {
  width: 550px;
  height: 425px;
  -webkit-animation-name: vanishIn;
          animation-name: vanishIn;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

.container-box .contato-img {
  position: absolute;
  right: 0;
  image-rendering: optimizeQuality;
}

.container-box .contato-img img {
  width: 362px;
  height: 400px;
}

.container-sobre h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
}

.container-sobre span {
  color: #9174E4;
}

.container-sobre h2 {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  text-align: justify;
}

.container-sobre img {
  margin-right: 24px;
}

.container-sobre .badge {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #9174E4;
}

.container-sobre .badge img {
  margin: 0;
}

.sobre-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-sobre:nth-child(3) {
  height: 360px;
}

.container-sobre:nth-child(3) h2 {
  line-height: calc(210px/3);
}

.container-contato h2 img {
  margin-left: 16px;
}

.container-contato h2 .download {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */