@import "variables";
@import "animation";
@import "functions";
@import "navbar";

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
}

body {
    background-color: $bg_dark_2;
}

.container {
    max-width: 1440px;
    height: 100vh;
    margin: auto;
}

// .container:first-child {
//     height: calc(100vh - 80px);
// }

.container-box {
    max-width: 1100px;
    margin: auto;
}

// .container-box:first-child {
//     height: calc(100vh - 80px);
// }

.container-box {
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
        color: $white;
        font-size: 48px;
        font-weight: 600;
    }

    span {
        color: $purple;
    }

    h2 {
        font-weight: 400;
        color: $white;
        font-size: 16px;
    }

    .home-img {
        position: absolute;
        right: 0;

        img {
            width: 550px;
            height: 425px;
            animation-name: vanishIn;
            animation-duration: 1.6s;
            // animation-delay: -1s;
        }

        image-rendering: optimizeQuality;
    }

    .contato-img {
        position: absolute;
        right: 0;

        img {
            width: 362px;
            height: 400px;
        }

        image-rendering: optimizeQuality;
    }
}

.container-box:nth-child(3) {
    h2 {
        line-height: 70px;
    }
}

// .container:nth-child(2) {
//     max-width: 1100px;
//     margin: auto;
//     height: 0;
// }

.container-sobre {
    h1 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    span {
        color: $purple;
    }

    h2 {
        font-weight: 400;
        color: $white;
        font-size: 16px;
        text-align: justify;
    }

    img {
        margin-right: 24px;
    }

    .badge {
        width: 120px;
        height: 120px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $purple;

        img {
            margin: 0;
        }
    }
}

.sobre-inline {
    display: inline-flex;
    flex-direction: row;
}

.container-sobre:nth-child(3) {
    height: 360px;

    h2 {
        line-height: calc(210px/3);
    }
}

// .container-body {
//     height: 100vh;
//     h2 {
//         line-height: 70px;
//     }
// }

.container-contato {
    h2 {
        img {
            margin-left: 16px;
        }
    }

    h2 {
        .download {
            color: $white;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.loading {
    @include loading();
}